@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.navbar-animation {
  animation: enhance-header linear both;
  animation-timeline: scroll(root);
  animation-range: 0 100px;

}

@keyframes enhance-header {
  to {
      background: rgba(74, 108, 247, 0.2);
      backdrop-filter: blur(5px);
  }
}